/* styles.css */

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-UI-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-UI-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-UI-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-UI-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sanskrit 2003";
  src: url("./../fonts/Sanskrit2003.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #000;
  --backdrop: cornflowerblue;
  --text: #efefef;
  --outsidePadding: 20px;
  --insidePadding: 10px;
  --headerHeight: 100px;
  --footerHeight: 101px;
  --uiFont: "Inter", sans-serif;
  --sanskritFont: "Sanskrit 2003";
  font-family: var(--uiFont);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html {
  background-color: var(--backdrop);
  color: var(--text);
}

body {
  scroll-snap-type: y mandatory;
  background-color: var(--backdrop);
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  text-decoration: underline;
}

.sanskrit {
  font-family: var(--sanskritFont);
}
